/* Used love running project and w3 shools as a reference */
/* Initial setting */
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2 {
  font-family: "Cormorant", serif;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
}

p,
blockquote {
  font-size: 1.1rem;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

#logo,
.flogo-w {
  font-size: 2rem;
  padding: 0.2rem;
}

/* paddings around the contents */
#hotspring-in-jp,
#benefits,
#japanese-hotel,
#whereTogo,
#map,
#recommendations,
.destinationbox {
  padding: 2rem 1.2rem 0 1.2rem;
}

/* Head Section*/
header {
  background-color: #1a3c40;
  opacity: 0.85;
  color: #ede6db;
  padding: 0.6rem 0.5rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header a {
  text-decoration: none;
  color: #ede6db;
}

header ul {
  list-style-type: none;
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

nav {
  position: absolute;
  background-color: #1a3c40;
  width: 100%;
  left: 0;
  display: none;
  top: 100%;
}

a:hover {
  font-weight: bold;
  color: white;
}

#menu-items {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 1rem 0;
}

#hb-menu {
  display: none;
}

.hb-menu {
  font-size: 200%;
}

#hb-menu:checked ~ nav {
  display: block;
}

/*// Main contents// */

main {
  flex: 1 0 auto;
}

/* explore */
#explore {
  background: url(../images/hotspring-landing.webp) no-repeat center
    center/cover;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: end;
  align-items: center;
}

.extitltext {
  background-color: rgb(0, 0, 0, 0.8);
  color: #ede6db;
  padding: 3%;
  text-align: center;
}

.extitlediv > h1 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.extitlediv > p {
  font-size: 0.9rem;
}

.img-japan,
.img-benefits {
  width: 100%;
  margin-top: 2rem;
  aspect-ratio: 3/2;
}

.video {
  width: 100%;
  margin-top: 2rem;
  aspect-ratio: 2/1.2;
}

/*//Footer//*/
footer {
  background-color: #1a3c40;
  color: #ede6db;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 0.5rem;
  z-index: 1;
}

footer ul {
  display: flex;
  list-style-type: none;
  /* font-size: 1rem; */
}

footer li {
  list-style: none;
  padding-right: 1rem;
}

.smp {
  color: #ffffff;
  font-size: 1.2rem;
}

.flogo > a {
  text-decoration: none;
  color: #ede6db;
}

/*--- // Destinations Page //----*/

.destination {
  background: url(../images/ryokan.webp) no-repeat center center/cover;
  width: 100%;
  height: 500px;
}

.map {
  width: 100%;
}

.list-onsen {
  list-style-type: none;
  line-height: 2em;
  margin: 1.5rem 0;
  text-align: left;
}

.list-onsen > li > a {
  text-decoration: none;
  color: black;
}

.list-onsen > li > a:hover {
  color: #417d7a;
}

/* ---// Sign Up Page //--- */
#signup {
  background: url(../images/green-tea.webp) right center/cover;
  width: 100%;
  min-height: 100vh;
}

/* Reference(https://www.freecodecamp.org/japanese/news/how-to-center-anything-with-css-align-a-div-text-and-more) to place dive in the center of the page*/

.formdiv-outside {
  width: 100%;
  height: 100vh;
  position: relative;
}

.formdiv {
  background-color: rgb(0, 0, 0, 0.8);
  color: #ede6db;
  font-size: 1.2rem;
  width: 90%;
  max-height: 80%;
  overflow: auto;
  padding: 10%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 9% 0;
}

/* Hide scroll bar */
/* Reference https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hide_scrollbar_keep_func to hide scroll bar */

.formdiv::-webkit-scrollbar {
  display: none;
}

.formdiv {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.formdiv > h2 {
  text-align: center;
}

.formdiv > p {
  margin: 10% 0;
}

#signup-form > input {
  width: 100%;
}

.input {
  height: 1.6rem;
  font-size: 1.2rem;
}

#submit {
  height: 2.5rem;
  font-size: 1.4rem;
  background-color: #1d5c63;
  color: #ede6db;
}

#submit:hover {
  font-weight: bold;
  background-color: #417d7a;
}

/*------- Media query ------------*/

/* //Over 768px// */
@media screen and (min-width: 768px) {
  /* Initial setting */
  #hotspring-in-jp,
  #benefits,
  #japanese-hotel,
  #whereTogo,
  #map,
  #recommendations,
  .destinationbox {
    padding: 2.5rem 7rem 0 7rem;
  }

  .title {
    font-size: 2rem;
  }

  #logo,
  .flogo-w {
    font-size: 3rem;
  }

  /* Header */

  nav {
    display: block;
    position: relative;
  }

  header ul {
    display: flex;
    justify-content: flex-end;
  }

  nav a {
    padding-right: 2rem;
  }

  .menuLabel {
    display: none;
  }

  /* Main */
  .explorediv {
    width: 70%;
  }

  .extitlediv > h1 {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
  }

  .extitlediv > p {
    font-size: 1.2rem;
  }

  .content1 {
    text-align: right;
  }

  .img-japan,
  .img-benefits {
    border-radius: 50%;
  }

  .video {
    margin: 2rem 0;
    border: 0;
  }

  /* Footer */
  footer {
    justify-content: flex-end;
  }

  .smp {
    font-size: 1.5rem;
    padding: 0.5rem;
  }

  /*--- // Destinations Page //----*/

  .recomendations-pic {
    width: 100%;
    aspect-ratio: 3/2;
  }

  .list-onsen {
    padding-left: 1rem;
  }

  /* ---// Sign Up Page //--- */
  .formdiv {
    width: 70%;
    padding: 5%;
  }

  .formdiv > p {
    margin: 5% 0;
  }

  .formdiv > h2 {
    font-size: 2.3rem;
  }

  .input {
    height: 2rem;
  }

  #submit {
    height: 3rem;
    font-size: 1.5rem;
  }
}

/* //Over 992 px// */
@media screen and (min-width: 992px) {
  #hotspring-in-jp,
  #benefits,
  #japanese-hotel,
  #whereTogo,
  #map,
  #recommendations,
  .destinationbox {
    padding: 2rem 8rem 0 8rem;
  }

  .explorediv {
    width: 50%;
  }

  #hotspring-in-jp {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  #benefits {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagdiv {
    margin-top: 0%;
    text-align: center;
  }

  .img-japan,
  .img-benefits {
    width: 90%;
  }

  .video {
    width: 70%;
    margin-left: 15%;
  }

  /*--- //Destinations Page //---*/

  .list-onsen {
    line-height: 3rem;
    font-size: 1.3rem;
  }

  /* ---// Sign Up Page //--- */
  .formdiv {
    width: 35%;
    margin-top: 2.5%;
  }
}

/* //Over 992 px// */
@media screen and (min-width: 1200px) {
  /*--- //Destinations Page //---*/

  .recommendations-div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .box {
    flex: 1;
  }

  .list-onsen {
    padding-left: 30%;
  }
}
