@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@1,300&family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* for footer */
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2 {
  font-family: "Cormorant", serif;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
}

p,
blockquote {
  font-size: 1.1rem;
}

.title {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.6rem;
}

a:hover {
  font-size: 120%;
  font-weight: bold;
}
/* Head Section */

header {
  background-color: #1a3c40;
  opacity: 0.8;
  color: #ede6db;
  padding: 0.3rem 0.5rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header a {
  text-decoration: none;
  color: #ede6db;
}

header ul {
  list-style-type: none;
}

.active {
  font-weight: bold;
  font-size: 103%;
}

nav {
  position: absolute;
  background-color: #1a3c40;
  width: 100%;
  left: 0;
  display: none;
  top: 100%;
}

#menu-items {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 1rem 0;
}

#hb-menu {
  display: none;
}

.hb-menu {
  font-size: 200%;
}

#hb-menu:checked ~ nav {
  display: block;
}

/* Main contents */

/* explore */

#explore {
  background: url(../images/hot-spring3.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
}

.explorediv {
  position: absolute;
  width: 95%;
  height: 28%;
  background-color: rgb(0, 0, 0, 0.7);
  color: #ede6db;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  padding: 1rem;
}

.extitlediv > h1 {
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.extitlediv > p {
  font-size: 0.9rem;
}

#hotspringInJP,
#benefits,
#japaneseHotel,
#whereTogo,
#map,
#recommendations {
  padding: 2rem 1.2rem 0 1.2rem;
}

.images-main {
  width: 100%;
}

.video {
  width: 100%;
  margin-top: 2rem;
}

/* Footer  */
footer {
  background-color: #1a3c40;
  color: #ede6db;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0.5rem;
}
footer ul {
  display: flex;
  list-style-type: none;
}

footer li {
  list-style: none;
  padding-right: 1rem;
}

.smp {
  color: #ffffff;
}

/*--- //Destinations Page //----*/
#destination {
  background: url(../images/ryokan5.jpg) no-repeat center center/cover;
  width: 100%;
  height: 500px;
}
.map {
  width: 100%;
}
.listOfOnsen {
  list-style-type: none;
  line-height: 2em;
  margin: 1.5rem 0;
}

.listOfOnsen > li > a {
  text-decoration: none;
  color: black;
}

/* /// Sign Up Page /// */
#signUp {
  background-color: #1a3c40;
}

.formdiv1 {
  position: relative;
}
.formdiv2 {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.8);
  color: #ede6db;
  width: 80%;
  margin: 30% 0 0 10%;
  padding: 15% 10%;
  line-height: 2.2rem;
  font-size: 1.1rem;
  text-align: center;
}

.picContainer {
  display: flex;
  flex-wrap: wrap;
}

.signUpP {
  font-size: 1rem;
  line-height: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.submit {
  width: 15%;
  padding: 0.5rem;
}

.submit:hover {
  color: #ede6db;
  background-color: #1d5c63;
  cursor: pointer;
  font-weight: bold;
}

/* Media query */

@media screen and (min-width: 768px) {
  /* Header */

  #logo {
    font-size: 3rem;
    padding: 0.5rem 1rem;
  }
  nav {
    display: block;
    position: relative;
  }
  header ul {
    display: flex;
    justify-content: flex-end;
  }
  nav a {
    padding-right: 2rem;
  }
  .menuLabel {
    display: none;
  }

  /* Main */
  .explorediv {
    width: 70%;
  }
  .extitlediv > h1 {
    font-size: 2.2rem;
    padding-bottom: 0.5rem;
  }

  .extitlediv > p {
    font-size: 1.2rem;
  }

  #hotspringInJP,
  #benefits,
  #japaneseHotel,
  #destinations,
  #whereTogo,
  #map,
  #recommendations {
    padding: 2.5rem 7rem 0 7rem;
  }
  .title {
    font-size: 2rem;
  }

  .content1 {
    text-align: right;
  }

  .images-main {
    border-radius: 50%;
  }
  .video {
    height: 40vh;
    margin: 2rem 0;
  }

  /* Footer */
  footer {
    justify-content: flex-end;
  }
  .smp {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  /*--- //Destinations Page //----*/
  .recommendationsDiv {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .box {
    flex: 1;
  }
  .recPic {
    width: 100%;
  }
  .listOfOnsen {
    text-align: right;
  }

  /* //Sign Up Page// */
  .hide {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .explorediv {
    width: 50%;
  }

  #hotspringInJP {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  #benefits {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .imagdiv {
    margin-top: 0%;
    text-align: center;
  }

  .images-main {
    width: 90%;
  }

  .content {
    /* padding-top: 4rem; */
  }

  .video {
    width: 70%;
    height: 70vh;
    margin-left: 15%;
  }

  /*--- //Destinations Page //----*/

  .recPic {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
  .listOfOnsen {
    text-align: center;
    line-height: 3rem;
  }

  /* /// Sign Up Page /// */
  .picdiv {
    width: 50%;
  }

  .hide {
    display: block;
  }

  .formdiv2 {
    margin: 10% 25% 0 25%;
    width: 50%;
    padding: 5% 0;
  }
}
